<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Timeline</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>

<% else %>

  <div class="jumbotron">
    <div class="container">
    <h1>Welcome!!<br>This Page is Musule Twitter</h1>
    <!-- <%= link_to image_tag("neon2.jpg", alt: "neon"),
                'http://rubyonrails.org/' %> -->

    <h2>
      This is the home page for the
      <a href="http://railstutorial.jp/">Muscle Connection</a>
      健康管理情報シェアのためのSNSです。
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-danger btn-lg btn-primary" %>
    </div>
  </div>

  <div class="jumbotron">
      <div class="container">
        <div class="feature1">最近運動不足がちな人。</div>
        <div class="feature2">最近お腹が出て来た人。</div>
        <div class="feature3">最近体調不良がちな人。</div>
          <p>みんなで健康について語り合おう。</p>
       
        <div class="tag1">食事、睡眠、運動に関しての徹底したケアで健康を勝ち取ろう。</div>


      <h2>CSSで統一する。</h2>
      <h2>Pinderは健康管理共有型SNSです。</h2>
       
        <ul class = description>
          <li>カテゴリー別表示機能、テキストの投稿などができ、知りたい情報に応じてキュレーションできます。</li>
　　　　　<li>カテゴリー別に表示されるので、興味のない分野を見ることはありません。</li>
          <li>フォロー機能でフォローユーザのみとコミュニケーションを取ることができます。</li>
　　　　　<li>さあ、最高に健康なSNSを始めよう！　           
</li>  


    </div>
<%= link_to "Let's muscle member!", signup_path, class: "btn btn-danger btn-lg btn-primary" %> 
  </div> 


  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
<% end %>
