<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Timeline</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>

<% else %>

  <div class="jumbotron">
    <div class="container">
    <h1>Welcome!!<br>This Page is Like Tinder!!</h1>
    <!-- <%= link_to image_tag("neon.jpg", alt: "neon"),
                'http://rubyonrails.org/' %> -->

    <h2>
      This is the home page for the
      <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-danger btn-lg btn-primary" %>
    </div>
  </div>

  <div class="jumbotron">
      <div class="container">
      <h1>この部分を三分割して横ページ遺体に並べる。具体的には、文章共有、自分の記録管理、集まる場所の管理。</h1>
      <h2>CSSで統一する。</h2>
      <h2>ノート、メンバー、場所</h2>
      </div> 
  </div> 


  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
<% end %>
